
.dynapuff-myFont {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 
 body {
  background-color: #e8f0ea;
  
}

.navbar {
  background-color: #064e3b; /* Deep green */
}

.navbar a {
  color: white;
  margin: 0 10px;
}

.navbar a:hover {
  color: #a7f3d0;
}

.pic {
  width: 250px;
  border-radius: 10px;
  margin: 20px 0;
}

.bon {
  margin-bottom: 30px;
}

h1{
  
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
  
}

 h1, h2 {
  color: #064e3b;
  text-align: center ;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  font-variation-settings:
    "wdth" 100;

}


a img {
  width: 100px;
  display: block;
}
